{% extends 'base.html.twig' %}

{% block title %}Operations{% endblock %}

{% block body %}
<label>Opérations : </label>
<ul>
    {% for operation in operations %}
    <a href='{{ path("operation_editShow",{"id": operation.id }) }}'><li>{{ operation.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('operation_createShow') }}">Créer une opération</a>
{% endblock %}
