<form method="post" action="{{ path('operations_delete', {'name': operation.name}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ operation.name) }}">
    <button class="btn">Delete</button>
</form>
