{{ form_start(form) }}
<div class="row">
    <div class="col-lg-6 form-style">
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                
            </div>
        </div>

    </div>
</div>
<div class="btn-end-form-upd">
    <div>
        <button class="btn btn-retour-radius btn-light">
            <a href="{{path('operations_index')}}">Retour</a>
        </button>
    </div>
    <div>
        <button class="btn btn-radius-red btn-outline-red">Supprimer</button>
        <button class="btn btn-radius-red btn-outline-red">Dupliquer</button>
        <button class="btn btn-radius-red">
            {{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}