{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tableau de bord</h1>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit atque ipsa molestias aperiam ipsam, quae, quisquam iure consequatur dignissimos nesciunt eum aliquid corporis debitis, labore eveniet quam? Beatae commodi expedita non obcaecati delectus perspiciatis, recusandae, earum, aspernatur provident quia quis.</p>
    <p>Neque eos, quam molestiae similique, perferendis distinctio nihil, ex esse hic nulla sapiente fuga. Itaque aliquam repudiandae labore reprehenderit doloribus deleniti dolore sunt inventore recusandae iste explicabo, dolores est atque enim expedita rem dolorem repellendus voluptatem quia odit id? Mollitia!</p>
    
{% endblock %}