{% extends 'base.html.twig' %}

{% block title %}Parametre cible{% endblock %}

{% block body %}
<label>Les paramètres cible : </label>
<ul>
    {% for parameter in ParameterTarget %}
    <a href='{{ path("ParameterTarget_editShow",{"id": parameter.id }) }}'><li>{{ parameter.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterTarget_createShow') }}">Créer un paramètre cible</a>
{% endblock %}
