
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/public/img/
/public/media/
/public/images/
/src/Migrations/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/.sass-cache

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
