
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
/public/images/contacts/
/public/images/salespersons/
/public/images/companies/
/src/Migrations/
/var/
/vendor/
/src/Migrations/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

/public/.sass-cache

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###
