{% extends 'base.html.twig' %}

{% block title %}Dernier chiffre d'affaire{% endblock %}

{% block body %}
<label>Dernier chiffre d'affaire : </label>
<ul>
    {% for chiffre in companyLastTurnover %}
    <a href='{{ path("companyLastTurnover_editShow",{"id": chiffre.id }) }}'><li>{{ chiffre.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyLastTurnover_createShow') }}">Créer un dernier chiffre d'affaire</a>
{% endblock %}
