{% extends 'base.html.twig' %}

{% block title %}New ActivityArea{% endblock %}

{% block body %}
    <h1>Create new ActivityArea</h1>

    {{ include('activity_area/_form.html.twig') }}

    <a href="{{ path('activity_area_index') }}">back to list</a>
{% endblock %}
