{% extends 'base.html.twig' %}

{% block title %}Les genres{% endblock %}

{% block body %}
<label>Les paramètres de genre : </label>
<ul>
    {% for gender in Gender %}
    <a href='{{ path("Gender_editShow",{"id": gender.id }) }}'><li>{{ gender.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterTypeSite_createShow') }}">Créer un genre</a>
{% endblock %}
