{% extends 'base.html.twig' %}

{% block title %}Edit ObjectTable{% endblock %}

{% block body %}
    <h1>Edit ObjectTable</h1>

    {{ include('object_table/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('object_table_index') }}">back to list</a>

    {{ include('object_table/_delete_form.html.twig') }}
{% endblock %}
