{% extends 'frontbase.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-6 background-img">
    </div>
    <div class="col-6">
        <div class="form-connect">
                <img src="{{ asset("img/logo-login.png") }}">
                

                <p>Rénitialisation de votre mot de passe</p>
                <p class="text-muted center">Indiquez votre nouveaux mot de passe puis validez</p>
                <div class="validationsMdp input-group div-input mt-4">
                    {{ form_start(form) }}
                    {{ form_widget(form.password, {"attr" : {'placeholder': 'Mot de passe',"class" : "form-control emailMdp"}}) }}
                    <button type="submit" class="btn primary-btn" id= "valide-mdp">Valider</button>             
                    {{ form_end(form) }}
                </div>

            <div class="bottom-connect">
                <p class="text-muted">Smartleads © tous droits réservés  |  <a class="text-description" href="#">Contactez le support technique</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}