{% extends 'base.html.twig' %}

{% block title %}Edit CompanyCategory{% endblock %}

{% block body %}
    <h1>Edit CompanyCategory</h1>

    {{ include('company_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('company_category_index') }}">back to list</a>

    {{ include('company_category/_delete_form.html.twig') }}
{% endblock %}
