{% extends 'base.html.twig' %}

{% block title %}Catégorie d'entreprise{% endblock %}

{% block body %}
<label>Catégorie d'entreprise : </label>
<ul>
    {% for categorie in companyCategory %}
    <a href='{{ path("companyCategory_editShow",{"id": categorie.id }) }}'><li>{{ categorie.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyCategory_createShow') }}">Créer une catégorie d'entreprise</a>
{% endblock %}
