{% extends 'base.html.twig' %}

{% block title %}Les pays{% endblock %}

{% block body %}
<label>Les pays : </label>
<ul>
    {% for country in Country %}
    <a href='{{ path("Country_editShow",{"id": country.id }) }}'><li>{{ country.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('Country_createShow') }}">Créer un pays</a>
{% endblock %}
