{% extends 'base.html.twig' %}

{% block title %}ParameterObject{% endblock %}

{% block body %}
<label>Les paramètres : </label>
<ul>
    {% for parameter in ParameterObject %}
    <a href='{{ path("ParameterObject_editShow",{"id": parameter.id }) }}'><li>{{ parameter.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterObject_createShow') }}">Créer un paramètre</a>
{% endblock %}
