{% extends 'base.html.twig' %}

{% block title %}Nombres d'employés des entreprises{% endblock %}

{% block body %}
<label>Nombre d'employés des entreprises : </label>
<ul>
    {% for nbEmployee in companyNbEmployee %}
    <a href='{{ path("companyNbEmployees_editShow",{"id": nbEmployee.id }) }}'><li>{{ nbEmployee.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyNbEmployees_createShow') }}">Créer un nombre d'employé</a>
{% endblock %}
