{% extends 'base.html.twig' %}

{% block title %}ParameterComportment{% endblock %}

{% block body %}
<label>Les paramètres : </label>
<ul>
    {% for parameter in ParameterComportment %}
    <a href='{{ path("ParameterComportment_editShow",{"id": parameter.id }) }}'><li>{{ parameter.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterComportment_createShow') }}">Créer un paramètre</a>
{% endblock %}
