{% extends 'base_operation.html.twig' %}

{% block title %}Grand jeu -
    {{operation.name}}
{% endblock %}

{% block body %}
    <h1>Vous avez déjà participé à ce jeu '{{operation.name}}'</h1>
    
{% endblock %}