{% extends 'base_operation.html.twig' %}

{% block title %}Grand jeu -
    {{operation.name}}
{% endblock %}

{% block body %}
    <h1>Nous vous remercions de votre participation au jeu '{{operation.name}}' !</h1>
    <h2>A bientot !</h2>
    
{% endblock %}