/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.navbar {
    padding: 1.25rem 1rem;
    box-shadow: 0px 5px 5px rgba(0,0,0,.16);

    .form-inline {
        border: 2px solid #e3e3e3 !important;
        border-radius: 25px !important;
        padding-left: 20px;
        padding-top: 6px;

        i {
            font-size: 16px;
        }
    }
}

nav#sidebar {
    .nav-item {
        padding: 5px 0;
        border-bottom: 2px #f9f9f9 solid;

        a {
            color: #999999;
            font-size: 13px;
        }
    }    
}

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;

    ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
        text-align: left;

        &:hover {
            background: #fff;
        }

        i {
            margin-right: 10px;
        }
    }

    &.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;

        .sidebar-header {
            strong {
                display: block;
            }

            h3, .img-primary {
                display: none;
            }
        }
    }

    .sidebar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        box-shadow: 0px 5px 5px rgba(0,0,0,.16);
        color: black;

        img {
            width: 150px;
        }
        
        strong {
            display: none;
            font-size: 1.8em;
        }
    }

    ul li.active>a,
    a[aria-expanded="true"] {
        color: #fff;
    }
}

#content {
    width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
}
