@import 'variables';

html {
    font-family: Roboto,sans-serif;
}

h1 {
    font-size: 40px;
    color: #707070
}

p {
    font-size: 12px;
}

i {
    color: #D9D9D9;
    font-size: 24px;
}

.content {
    padding: 22px 35px;
    background-color: #FAFAFA;
}

input {
    background-color: transparent !important;
    font-size: 13px !important;

    &:focus {
        border: none;
    }
}

.primary-btn {
    border-color: $primary-color;
    background-color: $primary-color !important;
    letter-spacing: 1px;
    border-radius: 4px;

    &:focus {
        background-color: desaturate($primary-color, 10) !important;
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}

.center {
    margin: 0 auto;
}

.row {
    margin-right: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-muted {
    font-weight: 400;
    color: #CECECE !important;
}

.text-description {
    color: #b3b3b3;
    font-size: 12px;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

/* Ajout de Gary à voir si c'est bon pour les inté*/
//table row clickable
.clickable-row:hover {
    background:  #f2f2f2;
    cursor: pointer;
}

.btn-radius-red {
    background-color: $primary-color;
    border-radius: 0.25rem;

    &:hover {
        color: #fff;
        background-color: desaturate($primary-color, 30);
    }
}

.container-content {
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    margin-top: 20px;
    box-shadow: 0 0 15px 0px #eeeeee;
}

.red-primary {
    color: $primary-color;
    font-size: 20px;
}

.table thead th{
    border-bottom: 2px solid #eeeeee;
}

.table td{
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #eeeeee;
}

.btn-retour-radius {
    background-color: $retourBtn;
    border-radius: 0.25rem;
}

.panel-Boutons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.panel-left{
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-control-lg{
    max-width: 75px;
    color: #a7a7a7;
    margin-right: 10px;
    font-size: 16px;
}

.search-input {
    border:none;
    
}

.inline-search {
    display: inline-block;
}
