@import 'variables';
@import 'mixins';

html {
    font-family: Roboto,sans-serif;
}

h1 {
    font-size: 36px;
    color: #707070
}

p {
    font-size: 12px;
}

i {
    color: #D9D9D9;
    font-size: 24px;
}

.content {
    padding: 22px 35px;
    background-color: #FAFAFA;
}

.window {
    background-color: #fff;
    padding: 30px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 8px 0px #cfcfcf;
    -webkit-box-shadow: 0px 0px 8px 0px #cfcfcf;
    -o-box-shadow: 0px 0px 8px 0px #cfcfcf;
    box-shadow: 0px 0px 8px 0px #cfcfcf;

    &-description {
        font-weight: bold;
        font-size: 18px;
        color: #888888;
        margin-bottom: 20px;
    }
}

input {
    background-color: transparent !important;
    font-size: 13px !important;

    &:focus {
        border: none;
        outline: none;
    }
}

.primary-btn {
    border-color: $primary-color;
    background-color: $primary-color !important;
    letter-spacing: 1px;
    border-radius: 4px;

    &:focus {
        background-color: desaturate($primary-color, 10) !important;
        color: #fff;
    }

    &:hover {
        color: #fff;
    }
}

.center {
    margin: 0 auto;
}

.row {
    margin-right: 0;
}


.flex-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text {
    &-muted {
        font-weight: 400;
        color: #CECECE !important;
    }

    &-description {
        color: #b3b3b3;
        font-size: 12px;      
    }
}

.titleSearch {
    display: flex;
    justify-content: space-between;
}

.inline-search {
    display: flex !important;
    align-items: center;
}

.input-group-text {
    background-color: transparent;
    border: none;
}

.clickable-row:hover {
    background:  #fff7f7;
    cursor: pointer;
}

.container-content {
    border-radius: 0.25rem;
    background-color: #FFFFFF;
    margin-top: 10px;
    box-shadow: 0 0 15px 0px #eeeeee;
}

.red-primary {
    color: $primary-color;
    font-size: 20px;
    margin-left: 10px;
}

.table {
    thead th {
        border-bottom: 2px solid #eeeeee;
        color: #8a8a8a
    }

    td {
        border-top: 2px solid #eeeeee;
        border-bottom: 2px solid #eeeeee;
        font-weight: 500;
        color: #999999;
        vertical-align: middle;

        i {
            font-size: 18px;
        }
    }
}

.logo-table {
    width: 30px;
    padding: 0 !important;
}

.check-user {
    width: 55px;
}

.custom-control-label {
    &::before,&::after {
        height: 1.2rem;
        width: 1.2rem;
    }
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #CF1740;
    background-color: #CF1740;
}

.panel {
    &-Boutons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    &-left {
        width: 20%;
        display: flex;
        justify-content: space-around;
        align-items: center;        
    }
}

.form-control-lg {
    max-width: 75px;
    color: #a7a7a7;
    margin-right: 10px;
    font-size: 16px;
}

.search-input {
    border: none;
    font-size: 14px !important;
    max-width: 80px;
    color: #C1C1C1;

    &:focus {
        border: none;
    }
}

input#search-search:focus {
    border-color: red !important;
}

.display-none {
    display: none;
}

::placeholder {
    color: rgb(150, 150, 150);

    &:focus {
        color: rgb(212, 212, 212);
    }
}

:focus::placeholder{
    color: rgb(206, 206, 206);
}

.inline-search {
    display: inline-block;
    padding-right: 20px;
}

#compteur {
    display: flex;
    align-items: flex-end;
}

.flex-column-center {
    @include flex-column-center();
}
<<<<<<< HEAD



.form-informations {
    
    * {
        display: inline;
    }

    .infos-entity {
        font-weight: bold;
        font-size: 25px;
    }

    .inline-status-date {

        display: inline;
    
    
        .custom-control-label::before {
            height: 1rem;
            
        }
        
        .custom-control-input:checked~.custom-control-label::before {
            color: #fff;
            border-color: #00ff00;
            background-color: #00ff00;
        }
    }

}

.btn-outline-red {
    background-color: transparent;
    color: $primary-color;
    border: 2px solid $primary-color;
}

.btn-end-form-upd {
    display: flex;
    justify-content: space-between;
}

.btn-end-form-add {
    display: flex;
    justify-content: flex-end;
}

//Menu du compte
.info-compte{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    p{
        font-size: 15px;
        margin-bottom: 0px;
    }
}

.dropdown-menu{
    height: 200px;
    width: 200px;
}

.dropdown-item{
    
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    background-color : #f8f8f8;
    font-size: 13px !important;
    display: flex !important;
    align-items: center;


    &:hover{
        background-color : #ebebeb;
    }

    i {
        color: #929292;
    }
}

.menu-click{

    i {
        margin-right: 10px;
    }

    a:first-child {
        margin-top: 20px;
        border-bottom: none;
    }
}

.top-menuDown{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .logo-dropDown{


    }
}

=======
>>>>>>> 36a4fbc8dd7e4b1b90d7a10d009f73fb44561385
