@mixin li-active {
    border-left: 3px solid #CF1740;
    background-color: #f9f9f9;
}

@mixin no-shadow {
    box-shadow: none;
}

@mixin flex-column-center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin btn-pagination{
    border-radius: 6px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    font-size: 15px;
    font-weight: bold;
}
