{% extends 'base.html.twig' %}

{% block title %}Nombres de chiffres d'affaires{% endblock %}

{% block body %}
<label>Nombre de chiffres d'affaires</label>
<ul>
    {% for turnover in companyTurnover %}
    <a href='{{ path("companyTurnover_editShow",{"id": turnover.id }) }}'><li>{{ turnover.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyTurnover_createShow') }}">Créer un chiffre d'affaire</a>
{% endblock %}
