{% extends 'base.html.twig' %}

{% block title %}Settings index
{% endblock %}

{% block body %}
    <h1>Paramètres de l'application</h1>
    <div class="window">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a aria-controls="home" aria-selected="true" class="nav-link active" data-toggle="tab" href="#panel_identite" id="identite-tab" role="tab">Identité</a>
            </li>
            <li class="nav-item">
                <a aria-controls="contacts" aria-selected="false" class="nav-link" data-toggle="tab" href="#panel_contacts" id="settings-contacts-tab" role="tab">Contacts</a>
            </li>
            <li class="nav-item">
                <a aria-controls="entreprises" aria-selected="false" class="nav-link" data-toggle="tab" href="#panel_entreprises" id="settings-entreprises-tab" role="tab">Entreprises</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div aria-labelledby="identite-tab" class="tab-pane fade show active" id="panel_identite" role="tabpanel">
                {{ include('settings/_form.html.twig', {'button_label': 'Enregistrer'}) }}
            </div>
            <div aria-labelledby="settings-contacts-tab" class="tab-pane fade" id="panel_contacts" role="tabpanel">
                <h1>Contacts</h1>
                <select class="form-control col-lg-3" id="settings-contacts">
                    <option value="1">Métier</option>
                    <option value="2">Pouvoir décisionnel</option>
                </select>
                <div id="partProfession">
                    {{ include('profession/settings_view.html.twig', {'button_label': 'Enregistrer'}) }}
                </div>
                <div id="partDecisionMaking">
                    {{ include('decision_making/settings_view.html.twig', {'button_label': 'Enregistrer'}) }}
                </div>
            </div>
            <div aria-labelledby="settings_entreprises-tab" class="tab-pane fade show active" id="panel_entreprises" role="tabpanel">
                <h1>Entreprises</h1>
                <select class="form-control col-lg-3" id="settings-entreprises">
                    <option value="1">Statuts</option>
                    <option value="2">Secteurs d'activités</option>
                    <option value="3">Statut juridique</option>
                    <option value="4">Effectifs</option>
                    <option value="5">Chiffres d'affaires</option>
                </select>
                <div id="partStatuts">
                    {{ include('company_status/settings_view.html.twig', {'button_label': 'Enregistrer'}) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
