{% extends 'base.html.twig' %}

{% block title %}Les services d'un contact au sein de son entreprise{% endblock %}

{% block body %}
<label>Les services : </label>
<ul>
    {% for contactCompanyService in ContactCompanyService %}
    <a href='{{ path("ContactCompanyService_editShow",{"id": contactCompanyService.id }) }}'><li>{{ contactCompanyService.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ContactCompanyService_createShow') }}">Créer un service</a>
{% endblock %}
