{% extends 'base.html.twig' %}

{% block title %}Statut légal des entreprises{% endblock %}

{% block body %}
<label>Statut légal des entreprises : </label>
<ul>
    {% for legalStatus in companyLegalStatus %}
    <a href='{{ path("companyLegalStatus_editShow",{"id": legalStatus.id }) }}'><li>{{ legalStatus.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyLegalStatus_createShow') }}">Créer un statut légal des entreprises</a>
{% endblock %}
