{% extends 'base.html.twig' %}

{% block title %}Les fonctions d'un contact au sein de son entreprise{% endblock %}

{% block body %}
<label>Les fonctions : </label>
<ul>
    {% for contactCompanyFunction in ContactCompanyFunction %}
    <a href='{{ path("ContactCompanyFunction_editShow",{"id": contactCompanyFunction.id }) }}'><li>{{ contactCompanyFunction.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ContactCompanyFunction_createShow') }}">Créer une fonctions d'un contact</a>
{% endblock %}
