{% extends 'base.html.twig' %}

{% block title %}Parameter type de site{% endblock %}

{% block body %}
<label>Les paramètres de type de site : </label>
<ul>
    {% for parameter in ParameterTypeSite %}
    <a href='{{ path("ParameterTypeSite_editShow",{"id": parameter.id }) }}'><li>{{ parameter.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterTypeSite_createShow') }}">Créer un paramètre de type de site</a>
{% endblock %}
