{% extends 'base.html.twig' %}

{% block title %}Les contacts{% endblock %}

{% block body %}
<label>Les contacts : </label>
<ul>
    {% for contact in Contact %}
    <a href='{{ path("Contact_editShow",{"id": contact.id }) }}'><li>{{ contact.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('Contact_createShow') }}">Créer un contact</a>
{% endblock %}
