{% extends 'base.html.twig' %}

{% block title %}Création de commercial{% endblock %}

{% block body %}
    <h1>Créer un commercial</h1>

    {{ include('salesperson/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('salesperson_index') }}">Retour à la liste</a>
{% endblock %}
