<form method="post" action="{{ path('graphic_style_delete', {'id': graphic_style.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ graphic_style.id) }}">
    <button class="btn">Delete</button>
</form>
