<form method="post" action="{{ path('company_delete', {'code': company.code}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ company.code) }}">
    <button class="btn">Delete</button>
</form>
