{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle entreprise
{% endblock %}

{% block body %}
    <h1>Créer une entreprise</h1>

    <div class="window">
        {{ include('company/_form.html.twig', {'button_label': 'Ajouter'}) }}
    </div>

{% endblock %}