{% extends 'base.html.twig' %}

{% block title %}Création d'une nouvelle entreprise{% endblock %}

{% block body %}
    <h1>Créer une entreprise</h1>

    {{ include('company/_form.html.twig') }}

    <a href="{{ path('company_index') }}">Retour à la liste des entreprises</a>
{% endblock %}
