<form method="post" action="{{ path('number_employees_delete', {'id': number_employee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ number_employee.id) }}">
    <button class="btn">Delete</button>
</form>
