{% extends 'base.html.twig' %}

{% block title %}New Target{% endblock %}

{% block body %}
    <h1>Create new Target</h1>

    {{ include('target/_form.html.twig') }}

    <a href="{{ path('target_index') }}">back to list</a>
{% endblock %}
