.form-control {
    border: 2px solid #F5F5F5;
}

.form-style {
    .row {
        margin-bottom: 5px;

        .col-lg-6 {
            .row {
                display: flex;
                align-items: center;

                label {
                    font-size: 14px;
                    font-weight: 500 !important;
                    margin-bottom: 0;
                }

                select {
                    height: 40px;
                }

                .mini-field {
                    max-width: 170px;
                }

                input {
                    &:not([type=checkbox]) {
                        height: 40px;
                    }
                }

                .required-field {
                    border-left: 3px #E3111A solid;
                    margin-left: -13px;
                    width: 67%;

                    input {
                        margin-left: 10px;
                    }

                    select {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

.div-photo {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;

    .suppression-img:hover{
        cursor: pointer;
    }
    
    i {
        color: #D9D9D9;
        font-size: 16px;
        display: flex;
        align-items: center;
    }

    label {
        border: 2px solid #F5F5F5;
        border-radius: 4px;
        font-size: 10px ;
        letter-spacing: 1px;
        color : #B3B3B3;
        display: flex;
        justify-content: space-around;
        width: 80px;
        padding: 7px 2px;
        margin-bottom: 0;
        margin-right: 10px;
        font-weight: bold;

        i {
            font-size: 12px;
        }

        &:hover {
            background-color: #F5F5F5;
            cursor: pointer;
        }
    }
}