@import '../../common/variables';

.nav-tabs {
    padding-left: 30px;
    border-bottom: 2px solid #dee2e6;

    .nav-item {
        margin-bottom: -2px;
    }

    .nav-link {
        border: none;
        font-weight: 400;

        &.active {
            color: $primary-color;
            background-color: transparent;
            border-color: $primary-color;
            border-bottom: 2px $primary-color solid;
        }
    }
}

.tab-content {
    margin-top: 30px;
}