{% extends 'base.html.twig' %}

{% block title %}ParameterGraphicStyles{% endblock %}

{% block body %}
<label>Les paramètres : </label>
<ul>
    {% for parameter in ParameterGraphicStyles %}
    <a href='{{ path("ParameterGraphicStyles_editShow",{"id": parameter.id }) }}'><li>{{ parameter.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('ParameterGraphicStyles_createShow') }}">Créer un paramètre</a>
{% endblock %}
