{% extends 'base.html.twig' %}

{% block title %}Secteur d'activité{% endblock %}

{% block body %}
<label>Secteur d'activité : </label>
<ul>
    {% for secteur in CompanyActivityArea %}
    <a href='{{ path("companyActivityArea_editShow",{"id": secteur.id }) }}'><li>{{ secteur.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('companyActivityArea_createShow') }}">Créer un secteur d'activité</a>
{% endblock %}
