{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
<label>Les utilisateurs sont : </label>
<ul>
    {% for user in User %}
    <a href='{{ path("user_edit_show",{"id": user.id }) }}'><li>{{ user.label }}</li></a>
    {% endfor %}

</ul>

<a href="{{ path('user_create_show') }}">Créer un utilisateur</a>
{% endblock %}
