{% extends 'base.html.twig' %}

{% block title %}Création d'un contact{% endblock %}

{% block body %}
    <h1>Création d'un contact</h1>

    {{ include('contacts/_form.html.twig') }}

    <a href="{{ path('contacts_index') }}">Retour à la liste</a>
{% endblock %}
