{% extends 'base.html.twig' %}

{% block title %}Saisie d'un nouveau contact{% endblock %}

{% block body %}
    <h1>Saisie d'un nouveau contact</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a class="btn btn-basic" href="{{ path('contacts_index') }}">Retour</a>
{% endblock %}
